<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Escriba la pregunta"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Escriba la respuesta"/> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar pregunta">
