<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%= quiz.pregunta %> <p>
  <input type="text" name="respuesta" placeholder="Escriba la respuesta"/>
  <input type="submit" value="Enviar">
</form>
